<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.brewingmachine.mapper.DeviceMapper">

    <resultMap id="BaseResultMap" type="com.brewingmachine.entity.Device">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="sn" property="sn" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="store_id" property="storeId" jdbcType="BIGINT"/>
        <result column="online" property="online" jdbcType="INTEGER"/>
        <result column="battery" property="battery" jdbcType="INTEGER"/>
        <result column="status" property="status" jdbcType="VARCHAR"/>
        <result column="last_heartbeat" property="lastHeartbeat" jdbcType="TIMESTAMP"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, sn, name, store_id, online, battery, status, last_heartbeat, create_time, update_time
    </sql>

    <select id="findById" parameterType="java.lang.Long" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM device
        WHERE id = #{id}
    </select>

    <select id="findBySn" parameterType="java.lang.String" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM device
        WHERE sn = #{sn}
    </select>

    <select id="findByStoreId" parameterType="java.lang.Long" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM device
        WHERE store_id = #{storeId}
        ORDER BY id DESC
    </select>

    <select id="findByUserId" parameterType="java.lang.Long" resultMap="BaseResultMap">
        SELECT d.*
        FROM device d
        INNER JOIN store s ON d.store_id = s.id
        WHERE s.user_id = #{userId}
        ORDER BY d.id DESC
    </select>

    <select id="findAll" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM device
        ORDER BY id DESC
    </select>

    <select id="count" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM device d
        <where>
            <if test="status != null and status != ''">
                d.status = #{status}
            </if>
            <if test="keyword != null and keyword != ''">
                AND (d.sn LIKE CONCAT('%', #{keyword}, '%') OR d.name LIKE CONCAT('%', #{keyword}, '%'))
            </if>
            <if test="storeIds != null and storeIds.size() > 0">
                AND d.store_id IN
                <foreach collection="storeIds" item="id" open="(" separator="," close=")">
                    #{id}
                </foreach>
            </if>
        </where>
    </select>

    <select id="findByPage" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM device d
        <where>
            <if test="status != null and status != ''">
                d.status = #{status}
            </if>
            <if test="keyword != null and keyword != ''">
                AND (d.sn LIKE CONCAT('%', #{keyword}, '%') OR d.name LIKE CONCAT('%', #{keyword}, '%'))
            </if>
            <if test="storeIds != null and storeIds.size() > 0">
                AND d.store_id IN
                <foreach collection="storeIds" item="id" open="(" separator="," close=")">
                    #{id}
                </foreach>
            </if>
        </where>
        ORDER BY d.id DESC
        LIMIT #{limit} OFFSET #{offset}
    </select>

    <insert id="insert" parameterType="com.brewingmachine.entity.Device" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO device
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="sn != null">sn,</if>
            <if test="name != null">name,</if>
            <if test="storeId != null">store_id,</if>
            <if test="online != null">online,</if>
            <if test="battery != null">battery,</if>
            <if test="status != null">status,</if>
            <if test="lastHeartbeat != null">last_heartbeat,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
            <if test="sn != null">#{sn},</if>
            <if test="name != null">#{name},</if>
            <if test="storeId != null">#{storeId},</if>
            <if test="online != null">#{online},</if>
            <if test="battery != null">#{battery},</if>
            <if test="status != null">#{status},</if>
            <if test="lastHeartbeat != null">#{lastHeartbeat},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>

    <update id="update" parameterType="com.brewingmachine.entity.Device">
        UPDATE device
        <set>
            <if test="sn != null">sn = #{sn},</if>
            <if test="name != null">name = #{name},</if>
            <if test="storeId != null">store_id = #{storeId},</if>
            <if test="online != null">online = #{online},</if>
            <if test="battery != null">battery = #{battery},</if>
            <if test="status != null">status = #{status},</if>
            <if test="lastHeartbeat != null">last_heartbeat = #{lastHeartbeat},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </set>
        WHERE id = #{id}
    </update>

    <update id="updateOnlineStatus">
        UPDATE device
        <set>
            <if test="online != null">online = #{online},</if>
            <if test="battery != null">battery = #{battery},</if>
            <if test="status != null">status = #{status},</if>
            last_heartbeat = NOW()
        </set>
        WHERE id = #{id}
    </update>

    <delete id="deleteById" parameterType="java.lang.Long">
        DELETE FROM device WHERE id = #{id}
    </delete>

</mapper>